CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake

# compiled module artifacts.
ecobuild/

# epm's fetch tree
epm/vendor/

.echo/
.scratch/
bench/
notes/
todo/
tools/ucd/
build/
build-release/
build-linux/
